@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id='silent-demo'>
    <p>silent sign in response: <code id='signin_response'></code></p>
    <p>fetch response: <code id='fetch_response'></code></p>
</div>

<script type="text/javascript" src="/node_modules/oidc-client/dist/oidc-client.js"></script>
<script type="text/javascript" src="/app.js"></script>
